body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1 {
    /*Padding muss dem Padding des Containers entsprechen*/
    padding: 15px;
}

/* Inside-Padding, Margin und Drop-Shadow für Karten */
.card {
    background-color: #ffffff;
    /* Shadow-Parameter: hor, ver, blur, spread, color */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    padding: 20px;
    margin: 10px;
    /*border: 1px solid blue;*/
}

/* Bei Mausover wird Schatten tiefer */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

/* Inside-Padding für den Container */
.container {
    padding: 15px;
    /*border: 1px solid #4CAF50;*/
}

.material-icons {
    vertical-align: bottom;
}